name: Publish Release

on:
  push:
    tags:
    - 'v*'

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        submodules: 'recursive'
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.100

    - name: Create Windows Release
      run: dotnet publish Editor -c Release -r win-x64 -p:PublishSingleFile=true --self-contained true -p:UseAppHost=true -o Publish/Editor_Windows

    - name: Create Linux Release
      run: dotnet publish Editor -c Release -r linux-x64 -p:PublishSingleFile=true --self-contained true -p:UseAppHost=true -o Publish/Editor_Linux

    - name: Create MacOS Release
      run: dotnet publish Editor -c Release -r osx-x64 -p:PublishSingleFile=true --self-contained true -p:UseAppHost=true -o Publish/Editor_macOS

    - name: Archive Windows Release
      uses: thedoctor0/zip-release@master
      with:
        filename: 'Editor_Windows.zip'
        path: 'Editor_Windows'
        directory: './Publish'
        type: 'zip'

    - name: Archive Linux Release
      uses: thedoctor0/zip-release@master
      with:
        filename: 'Editor_Linux.zip'
        path: 'Editor_Linux'
        directory: './Publish'
        type: 'zip'

    - name: Archive MacOS Release
      uses: thedoctor0/zip-release@master
      with:
        filename: 'Editor_macOS.zip'
        path: 'Editor_macOS'
        directory: './Publish'
        type: 'zip'

    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        draft: false
        prerelease: false

    - name: Upload Windows Release
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./Publish/Editor_Windows.zip
        asset_name: Editor_Windows.zip
        asset_content_type: application/zip

    - name: Upload Linux Release
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./Publish/Editor_Linux.zip
        asset_name: Editor_Linux.zip
        asset_content_type: application/zip

    - name: Upload MacOS Release
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./Publish/Editor_macOS.zip
        asset_name: Editor_macOS.zip
        asset_content_type: application/zip
